html, body, div, span, applet, object, iframe, h1 h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -----------------------------------------------------------------------------------------------------------------*/

body {
	background: rgb(2,0,36);
	background: linear-gradient(318deg, rgba(2,0,36,1) 0%, rgba(54,4,45,1) 51%, rgba(0,0,0,1) 100%);
  
}

html {
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
}

#sectiontit {
	scroll-snap-align: start;
	scroll-snap-stop: always;
	scroll-margin: 100px;
}
.section {

	scroll-snap-align: start;
	scroll-snap-stop: always;
}

#titlediv {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
	flex-direction: column;

}

#arrow {
	position: absolute;
	bottom : 5%;
	left : 47.5%;
	width: 5%;
}

#title{
    font-family: 'Anton';
	font-size: 5vw;
	background-image:conic-gradient(white,rgb(130, 189, 130),white,white,rgb(180, 111, 180),white);
	-webkit-background-clip: text;
	color: transparent;
	background-size: 4000px 4000px;
	animation: rgb 8s infinite linear;
}

@keyframes rgb{
	0%{
		background-position: 0 0;
	}

	25%{
		background-position: 0 100%;
	}

	50%{
		background-position: 100% 100%;
	}

	75%{
		background-position: 100% 0;
	}

	100%{
		background-position: 0 0;
	}
}

#grouppresent {
	overflow: hidden;
	overflow: hidden;
	z-index : -5;
	height: 100vh;
	width: 100%;
	display: flex;
}

.left, .right {
	z-index: 2;
	width : 50%;
	height: 100%;
}

#present1 {
	color: bisque;
	font-family: 'Anton';
	display: flex;
	flex-direction: column;
	margin-top : 35vh;
	margin-left : 12.5%;
	top: 20%;
	overflow: hidden;
}

.titredesc{
	color: bisque;
	width : 75%;
	
}

.textdesc{
	color: bisque;
	font-size: 140%;
	
}

.Line {
	width : 4vw;
}

#text {
	z-index : 5;
	font-size : 1.8vh;
	width: 90%;
}

#Line1 {
	margin-left : 12vw;
}

#present1 > #name {
	font-size: 6vw;
	z-index : 5;
}

#imagegrp {	
	z-index : 30;
	margin-top: 20vh;
	margin-left: 0vw;
}

#group {
	z-index: 30;
	width: 40vw;
	border-radius: 30px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

footer{


    font-family: 'DM Sans';
  font-weight: bold;
  font-size:100%;
  text-align: center;
  padding: 7%;
  
  
  
  color: white;

  }

@media all and (max-width: 440px) {
	#grouppresent {
		flex-direction: column-reverse;
	}

	.left, .right {
		z-index: 2;
		width : 100%;
		height: 50%;
	}

	#present1 {

		width : 90%;
		height: 90%;
		margin-top : 2vh;
		margin-left : 4%;
		top: 20%;
		overflow: hidden;
	}

	#text {
		font-size : 1.6vh;
	}

	#imagegrp {	
		z-index : 30;
		margin-top: 10vh;
		margin-left: 10vw;
	}
	
	#group {
		z-index: 30;
		width: 80vw;
		border-radius: 30px;
	}
}

@media all and (min-width : 440px) and (max-width: 800px) {
	#grouppresent {
		flex-direction: column-reverse;
	}

	.left, .right {
		z-index: 2;
		width : 100%;
		height: 50%;
	}

	#present1 {

		width : 90%;
		height: 90%;
		margin-top : 2vh;
		margin-left : 4%;
		top: 20%;
		overflow: hidden;
	}

	#text {
		font-size : 1.6vh;
	}

	#imagegrp {	
		z-index : 30;
		margin-top: 10vh;
		margin-left: 30vw;
	}
	
	#group {
		z-index: 30;
		width : 40vh;
		max-height: 350px;
		border-radius: 30px;
	}
}

.appear2 {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.appear2.inview2 {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.appear2.inview2:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.appear2.inview2:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.appear2.inview2:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.appear2.inview2:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.appear2.inview2:nth-child(5) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}