html, body, div, span, applet, object, iframe, h1 h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -----------------------------------------------------------------------------------------------------------------*/



html {
    width: 100vw;
}
body {
    background: linear-gradient(318deg, rgba(2,0,36,1) 0%, rgba(54,4,45,1) 51%, rgba(0,0,0,1) 100%);

    width: 100vw;
}


#titre-princ {
    background-color: transparent;
    color: white;
    
    font-family: 'Anton';
    font-size: 200%;
    padding: 20px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}



.media-player {
    background-color: transparent;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}



.txt1{
    padding: 6%;
    font-family : Anton;
    color: white;
    text-align: center;
    font-size: 300%;
    
}




#princpic {
    margin: 40px;
    padding: 10px;
    background-color: transparent;
    border-radius: 20px 20px 0 0;
    margin-bottom: 0px;
    padding-bottom: 0;
    width: 28vw;
}


#princpic:hover {
    background-color: rgba(255, 255, 255, 0.052);
    transition: 1s;
}

#contr {
    background-color: white;
    margin-bottom: 50px;
    width: 28vw;
    padding-top: 5px;
    padding-bottom: 0px;
    border-radius: 0 0 12px 12px;
}

#contr::-webkit-media-controls-panel {
    background-color: white;
}

audio::-webkit-media-controls-play-button {
  background-color: rgba(0, 0, 0, 0.247);
  border-radius: 50px;

}

audio::-webkit-media-controls-play-button:hover {
    background-color: #a0276e;
    transition: 1.2s;
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display
 {
    color: white;
}


audio::-webkit-media-controls-timeline {
    background-color: rgba(0, 0, 0, 0.247);
    border-radius: 20px;
    margin-right: 50px;
}

audio::-webkit-media-controls-timeline:hover {
    background-color: #a0276e;
    transition: 1s;
}

audio::-webkit-media-controls-volume-slider {
    color: white;
}

#titre-autre {
    background-color: transparent;
    width: 100%;
}

#txt2 {
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 5%;
    font-family: 'Anton';
    
    font-size: 300%;
    display: flex;
    justify-content: center;
    color: whitesmoke;
}

#other-music {
    background-color: transparent;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.imgplus {
    width: 70%;
    margin: 40px;
}

.imgplus:hover {
    scale: 1.1;
    transition: 1.2s;
}



.appear2 {
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  
  .appear2.inview2 {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
  
  .appear2.inview2:nth-child(1) {
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }
  
  .appear2.inview2:nth-child(2) {
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
  }
  
  .appear2.inview2:nth-child(3) {
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  
  .appear2.inview2:nth-child(4) {
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
  }
  
  .appear2.inview2:nth-child(5) {
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
  }


  footer{


    font-family: 'DM Sans';
  font-weight: bold;
  font-size:100%;
  text-align: center;
  padding: 7%;
  
  
  
  color: white;

  }

  .paroles{
    font-family: 'DM Sans';
  font-weight: bold;
  font-size:100%;
  text-align: center;
  padding: 3%;
  
  
  
  color: white;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    text-align: center;
  }
  
  
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
  }

  .column p {
    text-align: center;
    font-family: 'DM Sans';
  font-weight: bold;
  font-size:100%;
  color: white;
  }
  
  
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }